CONF_VERSION = "1"
PATCHRESOLVE = "noop"

BB_NUMBER_THREADS ?= "${@oe.utils.cpu_count()*2}"
PARALLEL_MAKE ?= "-j ${@oe.utils.cpu_count()*2}"

# DISTRO can be one of the following poky poky-lsb
DISTRO ?= "poky"
# TCLIBC can be one of the following glibc musl
#TCLIBC ?= "musl"

MACHINE ?= "ndeb4000-rev1"

BB_DISKMON_DIRS = "\
    STOPTASKS,${TMPDIR},1G,100K \
    STOPTASKS,${DL_DIR},1G,100K \
    STOPTASKS,${SSTATE_DIR},1G,100K \
    ABORT,${TMPDIR},100M,1K \
    ABORT,${DL_DIR},100M,1K \
    ABORT,${SSTATE_DIR},100M,1K \
"

EXTRA_IMAGE_FEATURES += "empty-root-password allow-empty-password debug-tweaks"

include local.overrides.conf
